# Editor directories and files
*.code-workspace
.idea/
.vscode/

# test files
*.test

# mocks
mocks/
*.mock.go

# Git
/.git
.gitignore

# Docker data
Dockerfile
docker-compose.yml
.dockerignore

# Other
.env
README.md
